* {
  margin: 0;
  padding: 0;
  background: url(./server_pics/bg.jpg);
}
body{
overflow-x:hidden;
}
.bg {
  height: 100vh;
  width: 100vw;
}
.l {
  display: inline-block;
  color: #4281a4;
  background: transparent;
  animation-name: li;
  animation-duration: 5s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes li {
  0% {
    transform: rotateY(0deg);
  }
  70% {
    transform: rotateY(180deg);
  }
}
.l_2 {
  color: #4281a4;
  background: transparent;
  display: inline-block;
  animation-name: l_2;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes l_2 {
  0% {
    transform: rotateY(0deg);
  }
  70% {
    transform: rotateY(180deg);
  }
}
.heading {
  padding-top: 1.625rem;
  margin-left: 2.5rem;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: uppercase;
  font-weight: 3em;
  font-size: 2.33em;
  position: relative;
}

.invite {
  width: 80%;
  position: relative;
  top: 12%;
  left: 10%;
  outline: 4px solid rgba(0, 0, 0, 0.5);
  outline-offset: 3px;
}

.join:hover {
  background: green;
}
.to-vyamanauts {
  margin-top: 0.5rem;
  color: #4281a4;
  text-align: center;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  border-radius: 30%;
  position: absolute;
  top: 1.9rem;
  left: 0.6rem;
}
.logo:hover {
  transform: rotateX(180deg);
}
.dude {
  text-decoration: none;
}
.fk {
  display: block;
  cursor: pointer;
  border: 2px solid black;
  margin: 6rem auto 0 auto;
  border-radius: 9px;
  padding: 1rem 1rem 1.3rem 1rem;
  font-size: 1em;
  font-weight: bolder;
  background: #4281a4;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  transition: transform 300ms ease;
}
.fk_2 {
  z-index: 4;
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: block;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 9px;
  padding: 0.5rem 0.3rem 0.5rem 0.3rem;
  font-size: 1em;
  font-weight: bolder;
  background: #4281a4;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  transition: transform 300ms ease;
}
.fk_2:hover:active,
i:hover {
  transform: scale(1.06);
  border-radius: 1rem;
  background: #274453;
  color: rgba(255, 255, 255, 1);
}
i {
  position: relative;
  top: 2px;
  left: -4px;
  background: transparent;
  color: rgba(255, 255, 255, 0.7);
}
.fk:hover,
i:hover {
  transform: scale(1.06);
  border-radius: 1rem;
  background: #274453;
  color: rgba(255, 255, 255, 1);
}

.server_volunteers {
  height: 50vh;
  width: 85vw;
  margin-top: 30%;
  margin-left: 6.5%;
  position: relative;
  outline: 0.5rem solid #113a52;
  outline-offset: 0.5rem;
}
.server {
  width: 60%;
  background: transparent;
  position: relative;
  top: 15%;
  left: 6ch;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2.1em;
}

.big {
  font-size: 1.8em;
  text-decoration: none;
  background: transparent;
  color: black;
}
.smth {
  font-size: 1em;
  text-decoration: none;
  font-weight: lighter;
  color: #4281a4;
  background: transparent;
  outline: 0.1rem solid rgba(29, 29, 29, 0.781);
  outline-offset: 0.9rem;
}

.block {
  height: 16rem;
  width: 0.9rem;
  background: linear-gradient(#113a52 20%, #113a52 20%);
  position: relative;
  left: 3rem;
  top: -16%;
}
.service {
  height: 20rem;
  background: linear-gradient(#003cff 40, #7a5980);
}
.all-about {
  color: white;
  font-size: 3em;
  text-align: center;
  margin: 4rem 0 10rem auto;
  font-weight: bolder;
  outline: 5px solid #4281a4;
  outline-offset: 1.5rem;
  background: url(./server_pics/server\ logo.gif);
}

.variety-ppl {
  margin-top: 8rem;
  text-align: center;
  font-size: 2.4em;
  color: black;
  font-weight: bolder;
}
.curiosty-des {
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 75%;
  font-size: 18px;
  color: #4281a4;
}
.learn {
  margin-top: 2.5rem;
  outline: 3px solid #4281a4;
  outline-offset: 3px;
}
.family-ppl {
  margin-top: 5rem;
  text-align: center;
  font-size: 2.4em;
  color: black;
}
.family {
  height: 14.06rem;
  width: 14.06rem;
  outline: 3px solid #4281a4;
  margin-top: 2.5rem;
}
.caring-des {
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 75%;
  font-size: 18px;
  color: #4281a4;
}
.setup {
  margin-top: 2.5rem;
  height: 37.5rem;
  /* outline: 0.25rem solid #4281a4; */
}
.setup_1 {
  margin-top: 2.5rem;
  height: 37.5rem;
  outline: 0.25rem solid #4281a4;
}
.hi {
  height: 14.06rem;
  width: 14.06rem;
  outline: 3px solid #4281a4;
  margin-top: 2.5rem;
  position: relative;
}

.staff {
  margin-top: 8rem;
  width: 100vw;
  height: 25vh;
  background: black;
  position: relative;
  outline: 0.25rem solid #4281a4;
  outline-offset: 0.5rem;
}
.our_staff {
  position: relative;
  top: 5px;
  color: #4281a4;
  text-align: center;
  background: transparent;
}
.flex {
  margin-top: 20px;
  display: flex;
}
.a {
  flex: 1 1 0;
  background: black;
  color: #95d2f3;
  text-align: center;
}
.b {
  flex: 1 1 0;
  background: black;
  color: #95d2f3;
  text-align: center;
}
.c {
  flex: 1 1 0;
  background: black;
  color: #95d2f3;
  text-align: center;
}
.owner {
  margin-top: 5px;
  background: transparent;
  color: #4281a4;
}
.admin {
  background: transparent;
  margin-top: 5px;
  color: #4281a4;
}
.moderator {
  background: transparent;
  margin-top: 5px;
  color: #4281a4;
}
